<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/lewagon/ruby-101-challenges" target="underscore_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagongermany/?hl=de" target="underscore_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/school/le-wagon/" target="underscore_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by ReHome
  </div>
</div>