<div class="container">

  <h1> Offers Overview</h1>
 <% # raise %>
<div class="row">
    <% current_user.offers.each do |offer|%>
              <div class="card col-6 m-4" style="width: 18rem;">
                  <p class="card-text"> <%=offer.name%> </p>
                  <p class="card-text"> <%=offer.email%> </p>
                  <p class="card-text"> <%=offer.comment%> </p>
                  <% if offer.offer_status %>
                    <p class="card-text">Offer accepted</p>
                  <% end %>
                  <p class="btn btn-success text-muted"><%= link_to "See project details", project_path(offer.project) %></p>
              </div>
     <% end %>
  </div>
</div>
